        body {
            text-align: center;
            margin-top: 200px;
            font-family: Arial, Helvetica, sans-serif;
            /* background-color: rgb(236, 216, 229); */
            background: linear-gradient(-60deg, #ff9a9e,#fad0c4,#fbc2eb,#a18cd1,#66e87e);
            background-size:400% 400% ;
            animation: gradient 10s ease infinite;

        }
        @keyframes gradient {
            0% {background-position: 0% 50%;}
            50% {background-position: 100% 50%;}
            100% {background-position: 0% 50%;}
            
        }

        #heading {
            font-size: 2.5rem;
            z-index: 2;
        }

        #yes,
        #no {
            padding: 15px 30px;
            font-size: 1.5rem;
            margin: 20px;
            border-radius: 10px;
            cursor: pointer;
            z-index: 2;
            /* transform: all 0.2s; */
        }

        #yes {

            position: relative;
            left: -5%;
            background: linear-gradient(135deg, #ff99cc, #ff66b2);
            color: rgb(244, 238, 238);
            border: 2px #ff66b2;
            box-shadow: 0 0 15px #2bfb51;
            transition: all 0.5s ease;
            animation: pulse 2s infinite;
            text-shadow: 1px 1px 2px #2bfb51;

        }

        #yes:hover {
            transform: scale(1.1);
            animation-play-state: paused;
            box-shadow: 0 0 30px #2bfb51, 0 0 60px #2bfb51;
        }

        @keyframes pulse {
            0% {
                box-shadow: 0 0 10px #2bfb51;
            }

            50% {
                box-shadow: 0 0 25px #4f2df6;
            }

            100% {
                box-shadow: 0 0 10px #2bfb51;
            }
        }

        #no {
            background-color: #ea2e41;
            color: white;
            left: 53%;
            position: absolute;
            border: 2px #ff66b2;
            box-shadow: 0 0 15px #2bfb51;
            transition: all 0.5s ease;
            animation: pulse2 2s infinite;
            text-shadow: 1px 1px 2px #19221b;
        }

        @keyframes pulse2 {
            0% {
                box-shadow: 0 0 10px #101511;
            }

            50% {
                box-shadow: 0 0 25px #1b1a1e;
            }

            100% {
                box-shadow: 0 0 10px #131a14;
            }
        }

        #message {
            font-size: 2rem;
            /* color: #ff1493; */
            font-weight: bold;
            background:linear-gradient(90deg,#ff758c,#ff7eb3,#ffb199,#ff6a88);
            
            margin-top: 30px;
            z-index: 2;
        }
    

        .heart {
            position: absolute;
            top: -30px;
            font-size: 30px;
            color: #ff69b4;
            animation: fall 5s linear infinite, rainbowColor 5s linear infinite;
            user-select: none;
            z-index: 1;
        }

        @keyframes fall {
            0% {
                transform: translateY(0) rotate(0deg);
                opacity: 1;
            }

            100% {
                transform: translateY(96vh) rotate(360deg);
                opacity: 0;
            }

        }

        /* when use the different color heart */

        @keyframes rainbowColor {
            0% {
                color: red;
            }

            14% {
                color: orange;
            }

            28% {
                color: yellow;
            }

            42% {
                color: green;
            }

            57% {
                color: blue;
            }

            71% {
                color: indigo;
            }

            85% {
                color: violet;
            }

            100% {
                color: red;
            }
        }
        @media (max-width:450px) {
            #yes,#no{
                padding: 12px;
                font-size: 1.2rem;
                z-index: 2;
            }
            #heading{
                font-size: 1.6rem;
                z-index: 2;
            }
            #message{
                font-size: 1.2rem;
                z-index: 2;
            }
            .heart{
                font-size: 18px;
            }
            
        }